@import "partials/base";
@import "partials/_reset";
@import "partials/_heading";

body {
  height: 100%;
  width: 100%;
}

section {
  margin: 0px;
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}